<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>关于 BistuX</title></%block>

<section class="container about">
  <nav>
    <a href="#about" class="active">About</a>
    <a href="#faq">Faq</a>
    <a href="#contact">Contact</a>
  </nav>

  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/quad.jpg')}" alt="Stanford Quad with Hoover Tower" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>关于我们</h2>
        
        <p>BixtuX正在开发新的在线课程,以改进学校教育，为公众提供优秀的学习机会。以 北京信息科技大学ifLab云计算小组基于 OpenEdX 平台搭建开发。</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/memchu.jpg')}" alt="Stanford Memorial Church Facade" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>常见问题</h2>
        <p><strong>为什么我不能正常访问BistuX？是不是我的浏览器不行？</strong><br />
        为了您顺利地完成课程学习，建议您将浏览器升级到最新版本。学堂在线支持的浏览器包括IE 9.0及以上版本、Firefox 21及以上版本、Chrome 24及以上版本、Safari 6.0及以上版本等。</p>

        <p><strong>为什么我播放课程视频时没有图像只有声音？我使用的是Chrome浏览器。</strong><br />
        请在浏览器的 设置 - 显示高级设置 中，将 使用硬件加速模式（如果可用） 一项取消勾选，并重新启动浏览器，即可正常观看。</p>
        
        <p><strong>为什么我的课程视频一直处于缓冲状态？</strong><br />
        如果您遇到该情况，请将您所在的区域、网络类型（例如北京联通10M宽带）、IP地址、联系方式（QQ或手机）通过邮件反馈给我们（发送至stack@iflab.org），我们会请视频技术客服人员跟你联系，帮您解决问题。</p>

        <p><strong>如何下载课程视频？</strong><br />
        请您使用支持HTML5的浏览器，在播放视频时右键点击视频即可以找到下载视频的菜单项。</p>

        <p><strong>如果我是一个北信科大的老师，我想在校内或面向公众使用本平台，我应该如何做？</strong><br />
        <a href="mailto:stack@iflab.org">点击这里取得联系</a></p>

        <p><strong>如果我在另一所大学或者公司，我想了解使用此开源平台，我应该与谁取得联系？</strong><br />
        <a href="mailto:project@iflab.org">点击这里取得联系</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dish.jpg')}" alt="Stanford Dish by Twilight" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article>
        <h2>联系我们</h2>

        <p><strong>如果您在使用过程中遇到问题，请联系:</strong><br />
        <a href="mailto:stack@iflab.org">stack@iflab.org</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
