## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon" style="width: 80%; margin: 0;">
      <div class="footer-info-image" style="height: 110px; float: left;">
        <img src="${static.url('themes/bistux/images/carnegie_thumb.png')}" alt="Carnegie Institution logo" width="191" style="display: block; float: left; padding-right: 10px; margin-right: 15px; border-right: 1px solid #c4c5c7"/>
      </div>
    </div>
    <div class="references" >    
    <div style="position:relative;top:20px;float:right;text-align:right;">
      <span>地址：北京市朝阳区北京信息科技大学，100085</span><br/>
      <span>版权所有：BistuX</span>
    </div>
    </div>
  </footer>
</div>
